@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Please the the menu in the top right of the page. Any thoughts as to what we can add to the site?
            </p>
        </div>
    </section>
}

